<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th>Album Id</th>
        <th>Album Name</th>
        <th>Artist Id</th>
        <th>Back to artist</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="album: ${albums}">
        <td th:text="${album.albumId}" />
        <td th:text="${album.albumName}" />
        <td  th:text ="${album.artistId}"/>
        <td><a href="/"><button>See Artist</button></a></td>
    </tr>
    </tbody>
</table>
</body>
</html>