<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body class="page">
    <div class="form-div">
      <form action="/createNewSong" method="post">
        <label>Song Name:</label><br>
        <input type="text" name="songName"><br><br>
        <label>Album Id:</label><br>
        <input type="text" name="albumId"><br><br>
        <label>Artist Id:</label><br>
        <input type="text" name="artistId"><br><br>
          <div class="form-btn">
              <button type="submit">Add Song</button>
          </div>
      </form>
    </div>
</body>
</html>