<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{~/style.css}" type="text/css">
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th>Song Id</th>
        <th>Song Name</th>
        <th>Album Id</th>
        <th>Artist Id</th>
        <th>Back to artist</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="song: ${songs}">
        <td th:text="${song.songId}" />
        <td th:text="${song.songName}" />
        <td th:text ="${song.albumId}"/>
        <td th:text="${song.artistId}"/>
        <td>
            <a href="/"><button>See Artists</button></a>
            <a th:href="@{'/deleteSong/'+${song.songId}}"><button>Delete Song</button></a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>